.entry-header {
  width: 100vw;
  height: 100vh;
  color: white;
}
.entry-img-wrapper img {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.entry-header nav {
  position: absolute;
  top: 0;
  width: 100%;
}
.menue-header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(81, 70, 91, 0.475);
  list-style: none;
  border-bottom: 0.2rem solid rgb(96, 18, 18);
  font-size: 1.2rem;
  padding: 1rem;
}
.menue-header a {
  color: var(--pallete3);
  text-decoration: none;
}
.menue-header li:hover {
  color: var(--pallete3);
  font-size: 1.5rem;
}

.entry-header h1 {
  position: absolute;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}
.entry-header h1:hover {
  color: var(--pallete1);
}
.login-btn {
  position: absolute;
  display: block;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  background-color: rgba(96, 18, 18, 0.595);
  padding: 0.8rem;
  border: 0.01rem solid white;
  border-radius: 0.6rem;
  font-size: 1rem;
  transition: all 2s;
}
.login-btn:hover {
  background-color: var(--pallete5);
  color: black;
}
