.login-container {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.video-bg {
  position: relative;
}
.video-bg video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(80%);
}
.left-form {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-form form {
  color: white;
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 2rem;
  flex-direction: column;
  background-color: #352d2d94;
  border-radius: 1.5rem;
  backdrop-filter: blur(1rem);
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(202, 207, 210, 0.23) 0px 54px 55px,
    rgb(98 100 107 / 70%) 0px -12px 30px, rgba(213, 216, 229, 0.5) 0px 4px 6px,
    rgba(121, 106, 106, 0.7) 0px 12px 13px,
    rgba(103, 146, 160, 0.5) 0px -3px 5px;
}
.left-form form h1 {
  margin: 2rem 0;
  font-family: cursive;
  font-size: 1.5rem;
  color: #fffefe;
}
.input-wrapper-1 {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.input-wrapper-1 label {
  cursor: pointer;
}
.input-wrapper-2 {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 1rem 0;
}
.input-wrapper-2 label {
  width: 50%;
  cursor: pointer;
}
.input-wrapper-2 a {
  width: 50%;
  text-align: end;
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(16 189 255);
  cursor: pointer;
}
.input-wrapper-2 input {
  width: 100%;
}
.left-form form input {
  border-radius: 0.8rem;
  background: #d4c5c57a;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
  border: 0.2rem inset #c8bcbc;
  cursor: pointer;
}
.submit-btn:default {
  background: #43ff437a;
  font-family: cursive;
  width: 60%;
  color: white;
  transition: all 1s;
}
.submit-btn:hover {
  background-color: #6cebff7a;
}
