.game-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
  background-color: #437155;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
/* .Timer {
  width: 50%;
} */
.Score {
  width: 100%;
}
.game-head {
  background-color: var(--pallete4);
  z-index: 1;
}
.game-content {
  width: 100%;
  height: 100%;
}

.game-character {
  position: absolute;
  top: 0;
  left: 0;
}
