.movie-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: var(--pallete0);
}
.movie-awards {
  background-color: wheat;
}
