@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
:root {
  --pallete0: #a09c79;
  --pallete1: #9d002b;
  --pallete2: #437155;
  --pallete3: #cea19b;
  --pallete4: #3c2f29;
  --pallete5: #c76862;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "IM Fell Great Primer", "Fredericka the Great", cursive;
}

img {
  max-width: 100%;
  display: block;
}

.entry-header {
  width: 100vw;
  height: 100vh;
  color: white;
}
.entry-img-wrapper img {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.entry-header nav {
  position: absolute;
  top: 0;
  width: 100%;
}
.menue {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(81, 70, 91, 0.475);
  list-style: none;
  border-bottom: 0.2rem solid rgb(96, 18, 18);
  font-size: 1.2rem;
  padding: 1rem;
}
.menue a {
  color: var(--pallete3);
  text-decoration: none;
}
.menue li:hover {
  color: var(--pallete3);
  font-size: 1.5rem;
}

.entry-header h1 {
  position: absolute;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}
.entry-header h1:hover {
  color: var(--pallete1);
}
.explore-btn {
  position: absolute;
  display: block;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  background-color: rgba(96, 18, 18, 0.595);
  padding: 0.8rem;
  border: 0.01rem solid white;
  border-radius: 0.6rem;
  font-size: 1rem;
  transition: all 2s;
}
.explore-btn:hover {
  background-color: var(--pallete5);
  color: black;
}

/* ....................NEW PAGE.................  */

.flex-container {
  background-color: var(--pallete0);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.shopping-header {
  display: flex;
  border-bottom: 0.1rem solid black;
  width: 90%;
  align-items: center;
}
.shopping-header a {
  text-decoration: none;
  width: 50%;
  color: black;
  font-family: "Playball", cursive;
  font-size: 1.5rem;
}
.filters-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  align-items: flex-end;
}
.filter {
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
}
.filter label {
  padding: 0.3rem;
}
.filter select {
  background-color: var(--pallete2);
  border-radius: 1rem;
  padding: 0.3rem;
  color: white;
}

.shopping-main-container {
  width: 90%;
  margin: 1rem 0;
}
.shopping-sidebar {
  z-index: 1;
  background-color: var(--pallete2);
  position: fixed;
  left: 0;
  top: 50%;
  border-radius: 0 20% 20% 0;
  color: white;
}
.sidebar-nav ul {
  padding: 0.5rem 0.2rem 0.5rem 0;
}
.sidebar-nav ul li {
  padding: 0.5rem 0.6rem;
  list-style: none;
}
.sidebar-nav ul li:hover {
  color: var(--pallete4);
}

/*products */
.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.colummn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem; /* set equally to 33.33 then instead use padding because margin will mess that 33.33 :)) */
}
.product {
  /* flex: 1 ; so that all of our flex items take equal space in the row */
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.6s ease-in-out;
  position: relative;
}

.product img {
  border-radius: 1rem;
  transition: all 0.6s ease-in-out;
}

.product:hover img {
  transform: scale(1.2) translateY(10px);
  z-index: 3;
}
.product:hover {
  background-color: var(--pallete0);
}
.product h3 {
  transition: all 3s ease-in-out;
  position: absolute;
  background-color: #9d002a7a;
  color: white;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  z-index: 3;
}
.product:hover h3 {
  position: absolute;
  color: rgb(225, 218, 218);
  background-color: #9d002acb;
  transform: scale(0.7);
}

/* ---------------------------------Game.html------------------------ */
.select-game-container {
  background-color: var(--pallete1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-game-container h1 {
  color: var(--pallete3);
  width: 100%;
  text-align: center;
  padding: 2rem;
}
.Game-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.game-item {
  width: 25%;
  list-style: none;
  padding: 1rem;
}
.game-item img {
  border: 0.1rem solid var(--pallete3);
}
#gameBtn {
  background-color: var(--pallete3);
  padding: 1rem;
  width: 20%;
  text-align: center;
  transition: all 1s;
  animation: colorAnimation 2s infinite;
}
#gameBtn:hover {
  background-color: #4dc57b;
  border-radius: 100%;
  width: 10%;
}
#gameBtn button {
  background-color: transparent;
  border: none;
}

/* ---------------------------------GamePage.html------------------------ */
.game-container {
  background-color: var(--pallete4);
  height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.Timer {
  width: 50%;
}
.Score {
  width: 50%;
}
.game-content {
  width: 100%;
  height: 100%;
  background-color: #437155;
}
/* ---------------------------------Keyframes------------------------ */

@keyframes colorAnimation {
  0% {
    background-color: #9d002b;
  }
  50% {
    background-color: #c1526f;
  }
  100% {
    background-color: #a38e95;
  }
}
/* .......................................Noface.html.......................................... */
.Noface-container {
  width: 100vw;
  height: 100vh;
}
.video-bg video {
  position: relative;
  z-index: -1;
}
.left-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
}
.left-form form {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 2rem;
  flex-direction: column;
  background-color: #cea19b68;
  border-radius: 1.5rem;
  backdrop-filter: blur(0.1rem);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.2s ease-in-out;
  justify-content: center;
}
.left-form form h1 {
  margin-bottom: 2rem;
  color: var(--pallete4);
}
.left-form form input {
  border-radius: 0.5rem;
  background: #fff2f24a;
  padding: 1rem;
  width: 90%;
  margin-bottom: 0.5rem;
  border: 0.1rem solid #a76e6a;
}
.left-form form a {
  text-decoration: none;
  font-size: 0.8rem;
}
.left-form form button {
  background-color: #fff2f24a;
  padding: 0.5rem 2rem;
  width: 60%;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 0.1rem solid #a76e6a;
  margin-top: 2rem;
  padding: 1rem;
  color: var(--pallete4);
  transition: all 1s;
}
.left-form form button:hover {
  background-color: #35ee7c7a;
}
/* ---------------------------------Medias-----------------------------  */
@media screen and (max-width: 480px) {
  .filters-container {
    flex-direction: column;
  }
  .game-item {
    width: 50%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .colummn {
    width: 50%;
  }
  .right-image {
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .entry-header h1 {
    font-size: 3rem;
  }
  .colummn {
    width: 33.33%;
  }
  .right-image {
    display: inline;
  }
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
